@import "../main.scss";
@import "../header.scss";

#main-count {
   font-size: 6rem;
}

#image__content {
   width: 400px;
}

#main-bg {
   background-image: url('../assets/main-bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#step-card {
   border-radius: 40px;
}

#cards-icon {
   width: 150px;
   top: -80px;
   left: 40%;
}

@media screen and (max-width: 1300px) {
   #image__content {
      width: 410px;
      height: calc(100% - 50px);
   }
}

@media screen and (max-width: 1200px) {
   #image__content {
      display: none;
   }
}
