$theme-colors: (
  "primary": #73db4d,
  "secondary": #a4e68c,
  "success": #45D15C,
  "dark": #242424
);

$font-sizes: (
   1: 3rem,
   5: 2.2rem,
   6: 1.2rem * 6,
   7: 1rem
);

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #E3FCDF;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

li {
    list-style: none;
}

.payment-modal {
   padding: 20px;
   border-radius: 50px;
}

@media (max-width: 576px) {
   .payment-modal {
      padding: 0;
      border-radius: 0;
   }
}
