<!DOCTYPE html>
html(lang="en")
head
   include components/includes/head.pug
   
   link(href='css/index.css' rel='stylesheet')
   title DoyCoin | Plant a tree
body(id='page-top')
   // Navbar
   include components/includes/header.pug

   // Main
   div(class='vh-100 d-flex align-items-center justify-content-center' id='main-bg')
      div(class='')
         div(class='container')
            div(class='row h-100 align-items-center justify-content-center text-center pt-3')
               div(class='col-lg-10')
                  p(class='fs-6', id='') 0,000,000
                  p(class='') TREES PLANTED
               div(class='col-lg-8')
                  button(class='btn btn-dark py-4 px-5 rounded-pill border-0 btn-sm', data-bs-toggle='modal' data-bs-target='#donateModal') PLANT A TREE!
                  p(class='px-5 my-5') We accept 
                     span(class='fw-bold') Credit Card
                     | , 
                     span(class='fw-bold') PayPal 
                     | and your 
                     span(class='fw-bold') Cryptos 
                     | as payment method.
                  p(class='my-4 fw-bold') $1 = Tree
                  
   // Content info
   div(class='py-5 bg-body content')
      div(class='container-fluid p-5')
         div(class='row')
            div(class='col-12 col-xl-5 offset-xl-1 p-5')
               span(class='text-primary fw-bolder fs-4') DoyCoin
               h3(class='fw-bolder fs-1') How it 
                  span(class='text-primary') works?
               p(class='fw-bold pe-lg-5') Your donation will be part.
            div(class='col-12 col-xl-5 d-none d-lg-flex justify-content-xl-end justify-content-center')
               img(id='image__content' src="assets/info-tree.png", alt="image-tree")
         div(class='row py-5')
      
      //Cards
      h2(class='p-5 m-5 text-center fs-1 fw-bolder') How you can
         span(class='text-primary')  contribute?
      div(class='container py-5')
         div(class='row py-5')
            //Card
            div(class='col-xl-4 d-flex justify-content-center mb-5 pb-5')
               div(class='card bg-secondary border-0' style='width: 22rem;' id='step-card')
                  div(class='card-body p-5 position-relative')
                     img(src='assets/dollar-icon.png' class='position-absolute' id='cards-icon')
                     h4(class ='text-white fw-bold') Step 1
                     h1(class ='fw-bolder fs-5 pb-2') Donate what you want and what you can
                     p(class ='card-text') Any contribution is important and accepted. You can choose the amount of trees to plant, remember $1 = Tree. 
            //Card
            div(class='col-xl-4 d-flex justify-content-center mb-5 pb-5')
               div(class='card bg-secondary border-0' style='width: 22rem;' id='step-card')
                  div(class='card-body p-5 position-relative')
                     img(src='assets/cryptos-icon.png' class='position-absolute' id='cards-icon')
                     h4(class ='text-white fw-bold') Step 2
                     h1(class ='fw-bolder fs-5 pb-2') Select your payment method
                     p(class ='card-text') We accept your cryptos as pricipal payment method, but we have other ways to be part of this so be free choosing the best method to contribute. Is up to you. 
            //Card
            div(class='col-xl-4 d-flex justify-content-center mb-5 pb-5')
               div(class='card bg-secondary border-0' style='width: 22rem;' id='step-card')
                  div(class='card-body p-5 position-relative')
                     img(src='assets/trees-icon.png' class='position-absolute' id='cards-icon')
                     h4(class =' text-white fw-bold') Step 3
                     h1(class ='fw-bolder fs-5 pb-2') You already have a tree planted!
                     p(class ='card-text') Your contribution will help to make this planet better, please share with your friends this movement and make them part of us. 
         //Ends cards
      // Ends content info
   // Ends of Main
   
   // Modal
   div(class='modal', tabindex='-1', id='donateModal')
      div(class='modal-dialog modal-dialog-centered modal-lg')
         div(class='modal-content payment-modal')
            div(class='modal-header')
               h5(class='modal-title') Your contribution is important!
               button(type='button', data-bs-dismiss='modal', aria-label='Close', class='btn-close')
            div(class='modal-body')
               form
                  div(class='container pt-5 px-4')
                     div(class='mb-3')
                        label(class='form-label', for='InputEmail') Your email
                        input(id='InputEmail', class='form-control rounded-pill', type='email', aria-describedby='emailHelp')
                        
                     div(class='mb-3')
                        button(class="btn btn-outline-dark btn-lg rounded-pill mt-2 fs-7" type="button" id="btn_wallet") DoyCoin Wallet
                        p(class="my-4 fw-bold" id="address-info" style="display: none;")
                        p(class='py-4 fw-light') or select a payment method
                        
                        input(type="radio" class="btn-check-outlined" name="option1" autocomplete="off" id="btn_metamask")
                        label(class="btn" for="option1")
                           span
                              img(src='assets/img/metamask.png' style='width: 20px;')
                           |  Metamask
                        input(type="radio" class="btn-check-outlined" name="option1" autocomplete="off" id="btn_paypal")
                        label(class="btn" for="option1")
                           span
                              img(src='assets/img/paypal.png' style='width: 20px;')
                           |  Paypal
                           
                     div(class="mb-3 col-4 pt-3" id="content-ammount d-none")
                        label(class="form-label" for="InputAmout") Amount of trees
                        input(class="form-control rounded-pill" id="InputAmout" type="number" aria-describedby="amountHelp" value="1")
                        p(class="my-4 fw-bold" id="currency-info") $1 = Tree
                     div(class="d-grid position-relative")
                        button(class="btn btn-dark rounded-pill py-3" type="submit" id='donate-btn') Donate
                        img(src='assets/trees-icon.png' class='position-absolute' id='modal-icon')
                     div(class='d-flex justify-content-center')
                        img(src='assets/horizontal-logo-black.png', alt='logo', class='py-5', style='width:250px;')
            div(class='modal-footer')
   // Ends of Modal
   
   include components/includes/footer.pug
               
   script(src="js/bootstrap.bundle.min.js")
   
   script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
   script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js")
   
   script(src="js/index.js")
   script(src="js/bundle.js")
