<!DOCTYPE html>
html(lang="en")
head
   meta(charset="UTF-8")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(http-equiv="X-UA-Compatible", content="ie=edge")
   
   link(href='css/index.css' rel='stylesheet')
   script(src='js/scrollreveal.js')
   
   title DoyCoin | Plant a tree
body(id='page-top')
   // Navbar
   include components/includes/header.pug
   
   // Main
   main(class='')
      div(class='container position-absolute top-50 start-50 translate-middle p-4')
         div(class='row h-100 align-items-center justify-content-center text-center')
            div(class='col-lg-10')
               p(class='fs-6', id='') 0,000,000
               p(class='') TREES PLANTED
            div(class='col-lg-8')
               button(class='btn btn-primary text-dark py-4 px-5 rounded-pill border-0 btn-sm', data-bs-toggle='modal' data-bs-target='#donateModal') PLANT A TREE
               p(class='my-4') We accept 
                  span(class='fw-bold') Credit Card
                  | , 
                  span(class='fw-bold') PayPal 
                  | and your 
                  span(class='fw-bold') Cryptos 
                  | as payment method.
               p(class='my-4') $1 = Tree
   // Ends of Main
   
   // Modal
   div(class='modal', tabindex='-1', id='donateModal')
      div(class='modal-dialog modal-dialog-centered modal-lg rounded-pill')
         div(class='modal-content')
            div(class='modal-header')
               h5(class='modal-title') Your contribution is important!
               button(type='button', data-bs-dismiss='modal', aria-label='Close', class='btn-close')
            div(class='modal-body')
               form
                  div(class='container p-5')
                     div(class='mb-3')
                        label(class='form-label', for='InputEmail') Email address
                        input(id='InputEmail', class='form-control', type='email', aria-describedby='emailHelp')
                     div(class='mb-3')
                        label(class='form-label', for='InputAddress') Address
                        input(id='InputAddress', class='form-control', type='address', aria-describedby='addressHelp')
                     div(class='mb-3')
                        label(class='form-label', for='InputAmout') Amount
                        input(id='InputAmout', class='form-control', type='amount', aria-describedby='amountHelp')
                     div(class='d-grid')
                        button(class='btn btn-primary', type='submit') Submit
            div(class='modal-footer')
               button(type='button', data-bs-dismiss='modal', class='btn btn-secondary') Close
               button(type='button', class='btn btn-primary') Save changes
   // Ends of Modal
               
   script(src="js/bootstrap.bundle.min.js")
   script(src="js/index.js")
