<!DOCTYPE html>
html(lang="en")
head
   include components/includes/head.pug
   
   link(href='css/success.css' rel='stylesheet')
   title Successful donation!
body
   div(class='container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center' id='success-bg')
      div(class='text-center')
         h1(class='fs-2 fw-bold') Thank you!
         p(class='') Your donation was successfully
